# Lines annotated with "#extended-lib" are excluded
# from the dependencies when we build the pip package

airspeed
amazon-kclpy
awscli>=1.14.18
boto
boto3>=1.4.4
coverage
docopt
elasticsearch
flake8>=3.5.0
flake8-quotes>=0.11.0
flask
flask-cors
flask_swagger
jsonpath-rw
localstack-ext
localstack-client
moto-ext
nose
psutil
pyOpenSSL
python-coveralls
pyYAML
requests
requests-aws4auth
six
subprocess32-ext
xmltodict
